{% extends "layout.html" %}

{% set pageID = "page-home" %}

{% block styles %}
    <link href="/styles/home.css" rel="stylesheet"/>
    <link href="/styles/modal.css" rel="stylesheet"/>
    
    <script defer src="./scripts/index.js"></script>
{% endblock styles %}

{% block body %}
    <div class="content">
        <header>
            <img src="/assets/icones/logo.svg" alt="logomarca ecolata"/>
            
            <a href="/create-point">
                <span></span>
                Cadastre um ponto de coleta
            </a>
            
        </header>
        <main>
            
            <h1>Seu marketplace de coleta de resíduos</h1>

            <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente</p>

            <a href="#">
                <span></span>
                <strong>Pesquisar pontos de coleta</strong>
            </a>
            
        </main>
    </div>
    

    
{% endblock body %}

{% block modal %}
    {% include 'partials/modal.html'%}
    {% endblock modal %}