<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% block title %}
            <title>Ecoleta</title>
        {% endblock title %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link href="/styles/main.css" rel="stylesheet"/>
        <script src="./scripts/themes.js"></script>
        {% block styles %}{% endblock styles %}
        <link href="/styles/responsive.css" rel="stylesheet"/>
        
    </head>
    <body>
        <div id={{pageID}}>
            {% block body %}{% endblock body %}
        </div>

        {% block modal %}{% endblock modal %}
    </body>
</html>